
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<h2>This is Home page</h2>
<h2>Wellcome ................</h2>
<h2>Here we can show some information of Employee ................</h2>






